//white
$clw: #fff;
$clw-op-01: rgba(255, 255, 255, 0.1);
$clw-op-02: rgba(255, 255, 255, 0.2);
$clw-op-03: rgba(255, 255, 255, 0.3);
$clw-op-04: rgba(255, 255, 255, 0.4);
$clw-op-05: rgba(255, 255, 255, 0.5);
$clw-op-06: rgba(255, 255, 255, 0.6);
$clw-op-07: rgba(255, 255, 255, 0.7);
$clw-op-08: rgba(255, 255, 255, 0.8);
$clw-op-09: rgba(255, 255, 255, 0.9);
// black
$clbl: #333;
$clbl-op-01: rgba(51, 51, 51, 0.1);
$clbl-op-02: rgba(51, 51, 51, 0.2);
$clbl-op-03: rgba(51, 51, 51, 0.3);
$clbl-op-04: rgba(51, 51, 51, 0.4);
$clbl-op-05: rgba(51, 51, 51, 0.5);
$clbl-op-06: rgba(51, 51, 51, 0.6);
$clbl-op-07: rgba(51, 51, 51, 0.7);
$clbl-op-08: rgba(51, 51, 51, 0.8);
$clbl-op-09: rgba(51, 51, 51, 0.9);
// color
$cl: #301c0d;
$cl-op-01: rgba(48, 28, 13, 0.1);
$cl-op-02: rgba(48, 28, 13, 0.2);
$cl-op-03: rgba(48, 28, 13, 0.3);
$cl-op-04: rgba(48, 28, 13, 0.4);
$cl-op-05: rgba(48, 28, 13, 0.5);
$cl-op-06: rgba(48, 28, 13, 0.6);
$cl-op-07: rgba(48, 28, 13, 0.7);
$cl-op-08: rgba(48, 28, 13, 0.8);
$cl-op-09: rgba(48, 28, 13, 0.9);
// color 01
$cl01: #6b2800;
$cl01-op-01: rgba(107, 40, 0, 0.1);
$cl01-op-02: rgba(107, 40, 0, 0.2);
$cl01-op-03: rgba(107, 40, 0, 0.3);
$cl01-op-04: rgba(107, 40, 0, 0.4);
$cl01-op-05: rgba(107, 40, 0, 0.5);
$cl01-op-06: rgba(107, 40, 0, 0.6);
$cl01-op-07: rgba(107, 40, 0, 0.7);
$cl01-op-08: rgba(107, 40, 0, 0.8);
$cl01-op-09: rgba(107, 40, 0, 0.9);
// color 02
$cl02: #ce692f;
$cl02-op-01: rgba(206, 105, 47, 0.1);
$cl02-op-02: rgba(206, 105, 47, 0.2);
$cl02-op-03: rgba(206, 105, 47, 0.3);
$cl02-op-04: rgba(206, 105, 47, 0.4);
$cl02-op-05: rgba(206, 105, 47, 0.5);
$cl02-op-06: rgba(206, 105, 47, 0.6);
$cl02-op-07: rgba(206, 105, 47, 0.7);
$cl02-op-08: rgba(206, 105, 47, 0.8);
$cl02-op-09: rgba(206, 105, 47, 0.9);
// color 03
$cl03: #fbb96b;
$cl03-op-01: rgba(251, 185, 107, 0.1);
$cl03-op-02: rgba(251, 185, 107, 0.2);
$cl03-op-03: rgba(251, 185, 107, 0.3);
$cl03-op-04: rgba(251, 185, 107, 0.4);
$cl03-op-05: rgba(251, 185, 107, 0.5);
$cl03-op-06: rgba(251, 185, 107, 0.6);
$cl03-op-07: rgba(251, 185, 107, 0.7);
$cl03-op-08: rgba(251, 185, 107, 0.8);
$cl03-op-09: rgba(251, 185, 107, 0.9);
// color 03
$cl04: #f0b000;
$cl04-op-01: rgba(240, 176, 0, 0.1);
$cl04-op-02: rgba(240, 176, 0, 0.2);
$cl04-op-03: rgba(240, 176, 0, 0.3);
$cl04-op-04: rgba(240, 176, 0, 0.4);
$cl04-op-05: rgba(240, 176, 0, 0.5);
$cl04-op-06: rgba(240, 176, 0, 0.6);
$cl04-op-07: rgba(240, 176, 0, 0.7);
$cl04-op-08: rgba(240, 176, 0, 0.8);
$cl04-op-09: rgba(240, 176, 0, 0.9);
$box-shadow: 0 0 25px $clbl-op-02;