.c-btn01 {
    min-width: 300px;
    background: $cl01;
    color: $clw;
    display: inline-block;
    font-size: 2.4rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding: 7px 20px 4px 20px;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
    @include sp(768px) {
        padding: 5px 20px 4px 20px;
        font-size: 1.8rem;
        min-width: 280px;
    }
    &::after {
        content: ">";
        font-family: "Lato", sans-serif;
        position: absolute;
        right: 20px;
        top: calc(50% - 2px);
        transform: translateY(-50%);
        transition: 0.5s;
    }
    &:hover {
        opacity: 0.8;
        &::after {
            right: 15px;
        }
    }
}

.c-btncart {
    display: block;
    min-width: 160px;
    border: none;
    background: $cl02-op-08;
    color: $clw;
    font-size: 1.6rem;
    font-family: "Dancing Script", cursive;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    svg {
        margin-right: 5px;
    }
    &::before {
        content: "";
        background: $cl02-op-04;
        transition: 0.5s;
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    &::after {
        content: "";
        background: $cl02-op-04;
        transition: 0.5s;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    &:hover {
        &::before {
            left: -50%;
        }
        &::after {
            right: -50%;
        }
    }
}

.c-totop {
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 10;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.8rem;
    color: $clw;
    background: $cl01;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(120px);
    border: 2px solid $clw;
    @include sp(768px) {
        width: 40px;
        height: 40px;
        font-size: 1.4rem;
        right: 30px;
        bottom: 30px;
    }
    &.active {
        transform: translateY(0);
        &:hover {
            transform: translateY(-10px);
        }
    }
}